.parent{
    width: 500px;
    height: 500px;
    background-color: green;
   position: relative;
 top: 50px;
}
/*.red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
   right: 0px;
}*/