*{
    margin: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    height: 100%;
}
.menus{
display: flex;
    list-style: none;
margin-top: 10px;
font-style: italic;
}

   

.link-nav{
    text-decoration: none;
  margin: 10px;

}
nav li:hover{
    background-color: aqua;
}
.primary{
    color: red;
}
.bannar-container{
    height: 100vh;
    width: 100%;
    background-image: url('asset/image/background.jpg');
    background-position: center;
    background-size: cover;
text-align: center;
display: flex;
align-items: center;
justify-content: center;}
.bannar-header{
    font-size: 55px;font-weight: bold;
    color: white;
}
.btn{
    padding: 12px 20px;
    border: none;
    background-color: red;
    color: white;

}
.btn:hover{color: yellowgreen;} 
p{color: white;}
main{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
 
}
.main-header{
    color: antiquewhite;
}
.icon{
    width: 70px;
    margin-top: 50px;
    margin-left: 50px;
    
}
.box{
    width: 180px;
    height: 180px;
    background-color: white;
    color: black;
    padding: 30px;
    border: 5px solid black;
    box-shadow: 4px;}
    .main-description{
        width: 50%;
       
    }
    
   .first-box, .second-box{
    display: flex;
   
   }
   .profile-button{
    padding: 12px 20px;
    border: none;
    background-color: red;
    color: white;
    margin-left: 15px;
   }
   .profile-button:hover{
    color: aquamarine;

   }
   ol{
    color: white;
    padding: 10px;
   }
   li{
    padding: 5px;
   }
.author{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.profile-container{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 25px;
    border-right: 5px solid red;
    padding-right: 20px;
}
.author-container{
    display: flex;
 align-items: center;
}