*{
    margin: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    height: 100%;
}
.menus{
display: flex;
    list-style: none;
margin-top: 10px;
font-style: italic;
}

   

.link-nav{
    text-decoration: none;
  margin: 10px;

}
nav li:hover{
    background-color: aqua;
}
.primary{
    color: red;
}
.bannar-container{
    height: 100vh;
    width: 100%;
    background-image: url('asset/image/background.jpg');
    background-position: center;
    background-size: cover;
text-align: center;
display: flex;
align-items: center;
justify-content: center;}
.bannar-header{
    font-size: 55px;font-weight: bold;
    color: white;
}
.btn{
    padding: 12px 20px;
    border: none;
    background-color: red;
    color: white;

}
.btn:hover{color: yellowgreen;} 
p{color: white;}
 